@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    font-family: "Manrope", serif;
    line-height: 1.6;
    margin: 0;
    
    margin: 0 auto;
    color: #333;
}

.navBar{
    width:100%;
    height:10vh;
    min-height:50px;   
    display:flex;
    color:white;
    font-weight: 400;
    background-color: #80231f;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    box-sizing: border-box;
}
.sectionHeader{
    font-weight: 800;
}

.wide{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box{
    width:100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px #80231f;
    box-sizing: border-box !important;
    flex:1;
    position:relative;
}

.mainContentHolder{
    max-width: 1200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageTextBox{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    gap:20px;
    margin-bottom:40px;
    width:100%;
    flex-wrap: wrap;
}

.incontentimage{
    max-width:40%;
    max-height:40vh;
    border-radius:10px;
}

.image-credit{
    font-size:10px;
    bottom:0;
    position: absolute;
}

@media (max-width: 1050px) {
    #pageList{
        display:none !important; 
    }
    
}

.redButton{
    background-color: #80231f;
    color:white;
    padding: 15px 25px;
    border-radius: 10px;
    border: 3px solid #80231f;
    cursor: pointer;
    transition:0.25s;
    font-family: "Manrope", serif;
    font-weight: 900;
    font-size:15px;
}

.redButton:hover{
    background-color: white;
    color:#80231f;
    transform: scale(1.05);
}

.whiteButton{
    background-color: white;
    color:#80231f;
    padding: 15px 25px;
    border-radius: 10px;
    border: 3px solid #80231f;
    cursor: pointer;
    transition:0.25s;
    font-family: "Manrope", serif;
    font-weight: 900;
    font-size:12px;
}

.whiteButton:hover{
    background-color: #80231f;
    color:white;
    transform: scale(1.05);
}

.innerBoxHeader{
    color:#333;
    font-size:20px;
}
.lensHolder{
    display:flex; 
    gap:15px; 
    margin-bottom:30px; 
    flex-wrap:wrap;
}
.lensHolder > div{
    min-height:300px;
}
.centerButton{
    position: absolute;
    bottom:20px;
    left:50%;
    transform: translateX(-50%);
    width:70%;
}

.centerButton:hover{
    transform: translateX(-50%) scale(1.05);
}

.titleButton{
    background-color: #80231f;
    color:white;
    padding: 15px 25px;
    border-radius: 10px;
    border: 3px solid #80231f;
    cursor: pointer;
    transition:0.25s;
    font-family: "Manrope", serif;
    font-weight: 900;
    font-size:25px;
}

.titleButton:hover{
    background-color: white;
    color:#80231f;
    transform: scale(1.03);
}

.copyright{
    font-size:10px;
    color:#333;
    position:absolute;
    bottom:0;
    
}